[View in Colaboratory](https://colab.research.google.com/github/kjckjc/example/blob/master/Untitled0.ipynb)

In [0]:
import pandas as pd

In [0]:
a = pd.read_csv('https://raw.githubusercontent.com/kjckjc/example/master/ade_sales.csv')

In [3]:
a.head()

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,lemon_profit,orange_profit,leaflets_lag1,leaflets_lag2,leaflets_lag3,leaflets_lag4
0,7/1/2016,Park,97,67,70,90.0,0.25,24.25,16.75,NaN,NaN,NaN,NaN
1,7/2/2016,Park,98,67,72,90.0,0.25,24.50,16.75,90.0,NaN,NaN,NaN
2,7/3/2016,Park,110,77,71,104.0,0.25,27.50,19.25,90.0,90.0,NaN,NaN
3,7/4/2016,Beach,134,99,76,98.0,0.25,33.50,24.75,104.0,90.0,90.0,NaN
4,7/5/2016,Beach,159,118,78,135.0,0.25,39.75,29.50,98.0,104.0,90.0,90.0